html {
    background-image: url(seamlesstexture3_1200.jpg);
    overflow: hidden;
}
body {
    overflow: hidden;
    font-family: sans-serif;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.knapp {
    position: relative;
    margin: 0 auto;
    width: 13em;
    height: 10em;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    
}
.knapp2 {
    position: relative;
    margin: 0 auto;
    width: 13em;
    height: 10em;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-right:50%;
    margin-left:auto;
    display: block;
    text-align: right;
    
}

.number {
    position: relative;
    margin-left:10em ;
    margin-right:0em ;
    margin-top: 0.5em;
    width: auto;
    text-align: ;
    font-size: 10px;
    
}

.upgradeknapp {
    position: relative;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    display: block;
    width: 35em;
    height: 8em;
    background-image: url(output_o8WF6d.gif);
    background-repeat: no-repeat;
    
}

#marquee, #marqueediv {
    position: relative;
    margin: 0 auto;
    width: auto;
    height: 2em;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
}
    
#textField {
    border: none;
    font-size: 45px;
    color: white;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0); 
    text-align: center;
}
#colpersecond2 {
    border: none;
    font-size: 22px;
    color: white;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0); 
    text-align: center;
}


#drupal, #cost, #collegepersec {
    
    font-size: 14px;
    color:black;
    margin:auto;
    width: 3.5em;
    background-color: rgba(0, 0, 0, 0); 
    text-align:center;
    margin-top:2.5em;
    border:none;
}
#mine {
    font-size: 20px;
    color:#1D1D1D;
    margin: auto;
    width: 2em;
    background-color: rgba(0, 0, 0, 0); 
    text-align:center;
    margin-top:0.7em;
    border:none;
    
}

img, button:active, button:hover, button:focus {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;  
}

button:active {
    position:relative;
	top: 0.15em;
    
}
button:focus {
    outline:0;
}
p {
    color:lime;
}