html {
    background-image: url(seamlesstexture3_1200.jpg);
    overflow: hidden;
}
body { 
   overflow:hidden;
}
h1, h2 {
    color:white;
    margin-top:1em;
    text-align: center;
    width:0 auto;
}
p{
    color:lime;
    text-align: center;
    width: 0 auto;
}
.hello{
    text-align: center;
    width:100%;
}
.ready {
    text-align: center;
    width:100%;
}
img{
    
}